<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        body {
            background-color: #f2f2f2; /* Set your preferred background color here */
        }
        h2 {
            color: #333; /* Set the color for your heading text */
        }
        /* You can add more styles for other elements as needed */
    </style>
</head>
<body>
    <h2>REGISTRATION</h2>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your Username"><br>
        <input type="text" name="first_name" placeholder="Enter your first name"><br>
        <input type="text" name="last_name" placeholder="Enter your last name"><br>
        <input type="email" name="email" placeholder="Enter your email"><br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input type="password" name="password1" placeholder="Confirm your password"><br>
        <input type="submit">
    </form>
    {% for msg in messages %}
        {{ msg }}
    {% endfor %}
</body>
</html>
